<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix" style="min-height:50px;">
                <h1>"{{contacts.name}}"</h1>
                <img [src]="contacts.image" alt="contacts.name">
                <div class="pull-right">
                    <button type="button"class="btn btn-primary">EDIT</button>
                    <button type="buttton" class="btn btn-danger">DELETE</button>
                </div>
            </div>
            <div class="panel-body">
                <address>Email:"{{contacts.email}}"</address>
                <address>Phone:"{{contacts.phone}}"</address>
              <!-- <p>{{contact.email}}</p>
              <p>{{contact.phone}}</p> -->
            
            </div>

        </div>
    </div>
</div>
