<h2>SERVERS APP!</h2>

<label>Server Name</label>

<!-- <input type="text"
class="form-control"
(input)="onUpdateServerName($event)"
> -->

<input type="text"
class="form-control"
[(ngModel)]="serverName">

<!-- <p>{{serverName}}</p> -->

<button 
[disabled]="!allowNewServer" 
class="btn btn-primary"
(click)="onCreateServer()">Add Server</button>


<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated else: noServer">"The new Server Name is "{{serverName}}</p>
<ng-Template #noServer>
    <p>No server was created.</p>
</ng-Template> 


<h3>Atribute Binding

</h3>
<p>"[innerText]="allowNewServer""</p>
<p [innerText]="allowNewServer"></p>
<h3>String Interpolation</h3>
<p >{{allowNewServer}}</p>

<h4>Assignment: Data & Event Binding</h4>
<hr>
<!--Add a input field which updates a property ('username') via TwoWayBinding-->
<input type = "text" class=form-control [(ngModel)] = "userName" >

<!---Output the username property via String Interpolation in a paragraph below the input-->
<p>{{userName}}</p>

<!--Add a button which may only be clicked if the username is NOt an empty string-->
<button class="btn btn-primary" [disabled]="!userName" (click)="clearInput($event)">Clear</button>

<!---Upon clicking the button, the username should be reset to an empty string-->