<div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading clearfix">
                    <h1 class="pull-left" style ="margin:0">Contacts</h1>
                    <a  routerLink="/contacts/new" class="pull-right btn btn-success btn-lg" href="#" role="button">New Contact</a>
                </div>
                <div class="panel panel-body">
               <app-contact-item *ngFor="let contactEl of contacts" [contacts]="contactEl" 
               dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']">

               </app-contact-item>
            </div>
        </div>
</div>

