<div class="row">
  
  <div class="col-xs-6">
      <app-games-list></app-games-list>
</div>
    
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="title">My Collection</h1>
        <p>{{ collectionLength }} / 1000</p>
      </div>

      <div class="panel-body">
        <app-collection-item
          *ngFor="let collection of collections"
          [collections]="collection"
        >
        </app-collection-item>
      </div>
    </div>
  </div>
</div>
